.form {
  width: 75%;
  margin: auto;
  margin-top: 5%;
  color: aliceblue;
}
.form label {
  color: aliceblue !important;
  font-size: 20px !important;
}

.Info {
  color: aliceblue;
  font-size: 40px;
}
