.posts {
  width: 200px;
  margin: auto;
  background-color: rgb(240, 252, 246);
  border: solid black 1px;
  margin-top: 10px;
  padding: 10px;
}
.Posts .ui.card {
  margin: 0 auto;
  margin-bottom: 2%;
  width: 70%;
}
.body {
  height: 50px;
}
.username {
  font-size: x-large;
}

.body {
  margin-left: 5%;
  font-size: large;
  font-weight: bold;
}
.title {
  color: #fdcf60;
  text-align: center;
  font-size: 7vh;
  font-family: "Cabin", sans-serif;
}
