.posts {
  width: 200px;
  margin: auto;
  background-color: rgb(240, 252, 246);
  border: solid black 1px;
  margin-top: 10px;
  padding: 10px;
}
.Posts .ui.card {
  margin: 0 auto;
  margin-bottom: 2%;
  width: 70%;
}
.body {
  height: 50px;
}
.username {
  font-size: x-large;
}

.body {
  margin-left: 5%;
  font-size: large;
  font-weight: bold;
}
.title {
  color: #fdcf60;
  font-size: 7vh;
  font-family: "Cabin", sans-serif;
}
.comment.icon {
  cursor: pointer;
}
.commentTime {
  float: right;
}
.commentBody {
  font-size: large;
}
.comments {
  margin-left: 10%;
  border: 1px solid rgb(196, 192, 192);
  margin-top: 1%;
  padding: 1%;
  border-radius: 5px;
}

.AddQ {
  float: right;
  font-family: "Cabin", sans-serif;
  margin-top: 1%;
  font-size: 20px;
  background-color: #fdcf60;
  border-radius: 5px;
}

.AnsInput {
  width: 100%;
}
